body {
    background-color: #1f1f1f !important;
    color: white !important;
}

.header {
    /* background-color: #0a2242; */
}

img {
    height: 100px;
    width: 100px;
}

.email-btn {
    text-decoration: none;
    color: white
}

.myPic {
    border: 4px solid white;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.bold {
    font-weight: bold !important;
}

.btn-info {
    background-color: #1ABC9C !important;
    border-color: #1ABC9C !important;
}

.custom-color {
    color: #1ABC9C !important;
}

.custom-bg {
    background-color: #232323 !important;
    color: white !important;
    font-weight: bold
}

.nav-link.active {
    color: #0dcaf0 !important;
    /* matches btn-info color */
    font-weight: bold;
}